
:root {

    /*fonts шось пішло не так*/
    --main-font: 'Roboto',sans-serif; 
    --secondary-font: 'Raleway', sans-serif; 
    
    
    }
    
    body {
        font-family: 'Roboto', sans-serif;
        background-color:#E5E5E5;
        
    }
    
    /*Шапка сайта*/
    
    .web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height:calc(31/26);
    /* identical to box height з фигми*/
    
    letter-spacing:0.03em;
    
    color: #2196F3;
    cursor: default;
    text-decoration: none;
   
    }
    
    .studio {
        font-family: 'Raleway';

        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height:calc(31/26);
        /* identical to box height з фигми*/
        
        letter-spacing:0.03em;
        
        color: #2F303A;
        cursor: default; 
        text-decoration: none;
        letter-spacing: normal;
        
        
    }
        
    
    /*Контакты*/
    
    
    .liststydia:hover
    .liststydia:focus {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height:calc(16/14);
      letter-spacing:0.02em;
    
       color: #2196F3;
       cursor:pointer;
       text-decoration:none;
       
       
    }
    
    .listportfolio {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height:calc(16/14);
        letter-spacing: 0.02em;
        
        color: #212121;
        cursor: default;
        text-decoration: none;
    
    }
    
    .listcontacts { 
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height:calc(16/14);
        letter-spacing: 0.02em;
    
       color: #212121;
       cursor: default;
       text-decoration:none;
    }
    
    
    .mail {
        color:#2196F3;
        cursor: pointer;
    
        text-decoration: none;
        
    }
    
    .phone{
        color:#757575;
        cursor: default;
        text-decoration: none;
    }
    
    /*Решения для бизнеса*/
    
    
    .businesssection {
        background-color: #2F303A;
        color: #FFFFFF;
    
        
    }
    
    
    .efectiv { 
    font-family: 'Roboto';
    font-style: normal;
        
    font-weight: 900;
    font-size: 44px;
    line-height:calc(60/44);
    /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    
    }
    
    button {
    font-family: 'Roboto';
    font-style: normal;    
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    /* identical to box height, or 188% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
    }
    
    .business  {
        color: #FFFFFF;
    
    }
    
    button {
        color: #FFFFFF;
        background-color: #2196F3;
    }
    
    /*Преимущества* + композиция, что бы убрать маркеры*/
    
    .rings {
        list-style: none;
    }
    
    /*Чем мы занимаемся*/
    
    .whatwemade {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height:calc(42/36);
    
        letter-spacing: 0.03em;
    }
    
    
    
    /*Наша команда + композици*/
    .details {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: #212121;

    
    }
    
    .text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */

        letter-spacing: 0.03em;

        color: #757575;

    
    }
    .names {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
       
        letter-spacing: 0.03em;
        color: #212121;

    }
    .namestext {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */

        
        letter-spacing: 0.03em;
        color: #757575;

    }
    
    .teamsection { 
        background-color:#F5F4FA;
    }
    
    /*Футер*/
    footer {
        background-color: #2F303A;
       
        
    }
    .webb {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        /* identical to box height */
        
        letter-spacing: 0.03em;
    
        color:#2196F3;
        cursor: default;
        text-decoration: none;
        
        
        
    }
    
    .studioo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height:calc(31/26);
    /* identical to box height */
    
    letter-spacing: 0.03em;
    color: #FFFFFF;
    cursor: default;
    text-decoration: none;
    
    }
    .adress {
        font-family:'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: calc(24/14);
     /* or 171% */
    
        letter-spacing: 0.03em;
    
       
       font-style: normal;
       list-style: none;
       text-decoration: none;
    }
    .coloradress{
        
        color: #FFFFFF;
        text-decoration: none;
        
    }
    .coliremail {
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;

    }
    .colorphoe {
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;

    }
    
      /*!!убираем маркеры!!но что-то не так*/  
    .link {
     text-decoration: none;
     
    }
    
    .list {
        list-style: none;
    }