
:root {

/*fonts шось пішло не так*/
--main-font: Roboto, sans-serif; 
--secondary-font: Raleway, sans-serif; 


}

body {
    font-family: Roboto, sans-serif; 
    background-color:#E5E5E5;
    color: #212121;
    
    
   
}
/*Шапка сайта*/
.web {
    
font-weight: 700;
font-size: 26px;
line-height:calc(31/26);
/* identical to box height з фигми*/

letter-spacing: 0.03em;

color: #2196F3;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
cursor: default;
}
.studio {
    
    font-weight: 700;
    font-size: 26px;
    line-height:calc(31/26);
    /* identical to box height з фигми*/
    
    letter-spacing: 0.03em;
    
    color: #212121;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: default; 
    }
    

/*Контакты*/
.contact{
   color: #212121;
    
}
.stydia {
  font-weight: 500;
  font-size: 14px;
  line-height:calc(16/14);
  letter-spacing: 0.02em;
   color: #2196F3;
   cursor: pointer;

}

.portfolio{
    font-weight: 500;
    font-size: 14px;
    line-height:calc(16/14);
    letter-spacing: 0.02em;
    
    color: #212121;

}
.contacts { 
    font-weight: 500;
    font-size: 14px;
    line-height:calc(16/14);
    letter-spacing: 0.02em;

   color: #212121;
}


.mail {
    color:#2196F3;
    cursor: pointer;
    
}

.phone{
    color:#757575;
    cursor: default;
}

/*Решения для бизнеса*/


.businesssection{
    background-color: #2F303A;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
  
}

button{
    
font-weight: 700;
font-size: 16px;
line-height: calc(30/16);
/* identical to box height, or 188% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;
cursor: pointer;

}
.business{
    color: #FFFFFF;

}

button {
    color: #FFFFFF;
    background-color: #2196F3;
}
/*Преимущества* + композиция, что бы убрать маркеры*/



/*Чем мы занимаемся*/



/*Наша команда + композици*/
.details {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color:#212121;
    
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
    
}

.teamsection { 
    background-color:#F5F4FA;
}

/*Футер*/
footer {
    background-color: #2F303A;
    color: #FFFFFF;
    
}
.webb {font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
    
    color:#2196F3;
    cursor: default;
    
    
}

.studioo {
    font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;



    color: #FFFFFF;
    cursor: default;
}
.adress {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
 /* or 171% */

    letter-spacing: 0.03em;

   color: rgba(255, 255, 255, 0.6);

}

  /*!!убираем маркеры!!но что-то не так/  
.link {
 text-decoration: none;
}

.list {
    list-style: none;
}